[bucket "luci.dawn.try"]
	builder = linux-clang-dbg-x64
	builder = linux-clang-rel-x64
	builder = linux-clang-dbg-x86
	builder = linux-clang-rel-x86
	builder = mac-dbg
	builder = mac-rel
	builder = win-clang-dbg-x64
	builder = win-clang-rel-x64
	builder = win-clang-dbg-x86
	builder = win-clang-rel-x86
	builder = win-msvc-dbg-x64
	builder = win-msvc-rel-x64
[bucket "luci.chromium.try"]
	builder = linux-dawn-rel
	builder = mac-dawn-rel
	builder = win-dawn-rel