[access]
	inheritFrom = All-Projects
[submit]
	action = rebase always
	rejectEmptyCommit = true
	matchAuthorToCommitterDate = true
	rejectEmptyCommit = true
[project]
	description = Dawn, a WebGPU implementation
[change]
	workInProgressByDefault = true
[receive]
	requireChangeId = true

[access "refs/*"]
	owner = group cria/project-dawn-admins
	label-Code-Review = -2..+2 group cria/project-dawn-committers
	label-Commit-Queue = +0..+2 group cria/project-dawn-committers
	label-Code-Review = -1..+1 group cria/project-dawn-tryjob-access
	label-Commit-Queue = +0..+1 group cria/project-dawn-tryjob-access
[access "refs/meta/config"]
	# This is redundant with refs/*
	owner = group cria/project-dawn-admins
	submit = group cria/project-dawn-admins
[access "refs/tags/*"]
	create = group chromium-branch-creators
	push = group chromium-branch-creators

[access "refs/heads/*"]
	# This is redundant with refs/*
	# label-Code-Review = -2..+2 group cria/project-dawn-committers
	submit = group cria/project-dawn-committers
	abandon = group cria/project-dawn-committers
	label-Commit-Queue = +0..+2 group cria/project-dawn-committers
	label-Commit-Queue = +0..+2 group Change Owner
	labelAs-Commit-Queue = group Registered Users
	labelAs-Commit-Queue = +0..+2 group chrome-commit-bot
	submit = group chrome-commit-bot

[label "Code-Review"]
	function = MaxWithBlock
	abbreviation = R
	copyMinScore = true
	copyMaxScore = true
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
	value = -2 Do not submit
	value = -1 I would prefer that you didn't submit this
	value = 0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
	defaultValue = 0
[label "Commit-Queue"]
	function = NoBlock
	abbreviation = CQ
	value = 0 Not Ready
	value = +1 Dry Run
	value = +2 Commit
	defaultValue = 0